<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/css/signing.css">
  <link rel="stylesheet" type="test/css" th:href="@{/css/signing.css}">
  <title> Login</title>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link th:href="@{/maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css}">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom" style="background-color: whitesmoke">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <img src="/Img/logoPmB.png">
      <svg class="bi me-2" width="80" height="64" role="img" aria-label="Bootstrap"><use xlink:href="#PayMyBuddy"/></svg> </img>
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li sec:authorize="isAuthenticated()" ><a href="#" th:href="@{/Home}" class="nav-link px-2 link-secondary">Home</a></li>
      <li sec:authorize="isAuthenticated()"><a href="#" th:href="@{/Contacts}" class="nav-link px-2 link-dark">Contacts</a></li>
      <li sec:authorize="isAuthenticated()"><a href="#" th:href="@{/Profile}"class="nav-link px-2 link-dark">Profile</a></li>
      <li sec:authorize="isAuthenticated()"><a href="#"th:href="@{/Transaction}" class="nav-link px-2 link-dark">Transactions</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <form class="form-inline my-2 my-lg-0" form-method="post" th:action="@{/logout}">
      <button sec:authorize="isAuthenticated()" class="btn btn-outline-danger my-2 my-sm-0 btn-sm" type="submit">Logout</button>
      <button sec:authorize="isAnonymous()" th:href="@{/login}" class="btn btn-outline-info my-2 my-sm-0 btn-sm" type="submit">Login</button>
      </form>
    </div>
  </header>

<!------ Include the above in your HEAD tag ---------->

<body>
  <h3 class="text-center text-white pt-5">PayMyBuddy Login</h3>
  <div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column" class="col-md-6">
        <div id="login-box" class="col-md-12">
          <form th:action="@{/login}" method="post" id="login-form" class="form">
            <h3 class="text-center text-info">Login</h3>
            <h4 class="text-center text-info">PayMyBuddy</h4>
            <div class="form-group">
              <label for="email" class="text-info">Email:</label><br>
              <input type="text" name="email" id="email" class="form-control" value="" required>
              <div class="invalid-feedback">
              Valid email is required.
            </div>

            </div>
            <div class="form-group">
              <label for="password" class="text-info">Password:</label><br>
              <input type="text" name="password" id="password" class="form-control" value="" required>
              <div class="invalid-feedback">
                Valid password is required.
              </div>
            </div>
            <div class="form-group">
              <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
              <input type="submit" name="submit" class="btn btn-info btn-md" value="Login">
              <a href="#"  sec:authorize="isAnonymous()" th:href="@{/checkout}" style="margin-left:325px" class="text-info">Register here</a>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

<footer class="my-5 pt-5 text-muted text-center text-small">
  <p class="mb-1">&copy;2021 PayMyBuddy Company </p>
  <ul class="list-inline">
    <li class="list-inline-item"><a href="#">Privacy</a></li>
    <li class="list-inline-item"><a href="#">Terms</a></li>
    <li class="list-inline-item"><a href="#">Support</a></li>
  </ul>
</footer>
</html>

